<a href="https://colab.research.google.com/github/sam2005-max/My_M_AND_A/blob/main/My_M_And_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [7]:
#CSV files
data_1 = pd.read_csv("/content/sample_data/only_wood_customer_us_1 (7).csv")
data_2 = pd.read_csv("/content/sample_data/only_wood_customer_us_2 (8).csv", sep=';')
data_3 = pd.read_csv("/content/sample_data/only_wood_customer_us_3 (6).csv",sep='\t|,')
#data cleaning 1
a = data_1.replace("0", "Male")
b = a.replace("1", "Female")
c = b.replace("M", "Male")
data_1 = c.replace("F", "Female")
dname = pd.unique(data_1.Gender)
data_1['FirstName'] = data_1['FirstName'].replace(r'\W', '', regex=True)
data_1['FirstName'] = data_1['FirstName'].str.title()
data_1['LastName'] = data_1['LastName'].replace(r'\W', '', regex=True)
data_1['LastName'] = data_1['LastName'].str.title()
data_1['Email'] = data_1['Email'].str.lower()
data_1['City'] = data_1['City'].str.replace('_', '-')
data_1['City'] = data_1['City'].str.title()
data_1['Country'] = 'USA'
#Data cleaning 2
data_2.rename(columns = {'51' : 'Age', 'austin' : 'City', '1':'Gender', 'lorette kutch': 'Name', 'Kutch.lorette@gmail.com': 'Email'}, inplace = True)
data_2.loc[-1] = ["51","austin" , "1", "lorette kutch", "Kutch.lorette@gmail.com"] 
data_2.index = data_2.index + 1
data_2 = data_2.sort_index()
data_2 = data_2.drop(labels=1)
data_2.Age = data_2.Age.str.replace(r'\D', '',  regex=True)
a = data_2.replace("0", "Male")
b = a.replace("1", "Female")
c = b.replace("M", "Male")
data_2 = c.replace("F", "Female")
data_2 = data_2.replace(r'_|-|""|"|\\|', '', regex=True)
data_2['City'] = data_2['City'].str.title()
data_2['Name'] = data_2['Name'].str.title()
data_2.dropna(inplace = True)
new = data_2["Name"].str.split(" ", n = 1, expand = True)
data_2["FirstName"]= new[0]
data_2["LastName"]= new[1]
data_2.drop(columns =["Name"], inplace = True)
data_2['Email'] = data_2['Email'].str.lower()
#Data cleaning 1
data_3 = data_3.replace(r'string_|boolean_|character_|integer_|"|-|_', '', regex=True)
data_3['Name'] = data_3['Name'].str.title()
a = data_3.replace("0", "Male")
b = a.replace("1", "Female")
c = b.replace("M", "Male")
data_3 = c.replace("F", "Female")
data_3.dropna(inplace = True)
new = data_3["Name"].str.split(" ", n = 1, expand = True)
data_3["FirstName"]= new[0]
data_3["LastName"]= new[1]
data_3.drop(columns =["Name"], inplace = True)
data_3['Email'] = data_3['Email'].str.lower()
data_3.Age = data_3.Age.str.replace(r'\D', '',  regex=True)
data_3['City'] = data_3['City'].str.title()
data_3['Country'] = 'USA'
data_1 = data_1.append(data_2).append(data_3)
data_1

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)